//radzik
$main-green: #59B204;
$main-gray:#CBCBCB;
//do ustalenia

//paddings and margins
//$main-page-section-padding:;
//$h2-padding:;
//section-padding:;

//font sizes
$h1-size:2.1875rem; //35px
$h2-size:1.75rem;   //28px

$sm-size:0.875rem;  //14px
$m-size:0.9375rem;  //15px
$l-size:1.125rem;   //18px
$main-white:white;




