{% if is_preview %}
	<h2>Sekcja-5</h2>
	<InnerBlocks/>
{% else %}
<section id="location">
    <div class="pt-5 pb-5" >
        <div class="container w-75 p-0">
            <div class="row brakrow text-center w-75 m-auto">
                <h3 style="text-align:center; ">Why choose us?</h3>
                <p style="color:white;">Our projects win awards, we are published in the world known magazines and websites.
We are invited to participate in exhibitions and competitions.
                </p>
            </div>
        </div>
    </div>
</section>

			
{% endif %}