{% if is_preview %}
	<h2>Sekcja-6</h2>
	<InnerBlocks/>
{% else %}

{# <section id="ask">
    <div  style=" padding-top:70px;padding-bottom:70px;">
        <div class="container w-75 p-0">
            <div class="row brakrow">
                <div class="col-lg-6 ">
                    <div style=";height:100%;display:flex;justify-content:center;align-content:center;flex-direction:column">
                        <h2>We look to our differences to bring a richness of perspective.</h2>
                        <p style="color:white">Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations. All our projects incorporate a unique artistic image and functional solutions. Client is the soul of the project.</p>
                    </div>
                </div>
                <div id="Request" class="col-lg-6 pb-4 pt-3 " style="border-radius:5px;background-color: #323232; padding-left:20px;padding-right:20px;color:white;">
                    <h4>Request a quick quote</h4>
                    <p>Please tell us about your business. A HnK representative will walk you through our service options.</p>
                    <div class="row brakrow">
                        <div class="col-md-6 pt-2 " style="text-align:center;">
                            <div class ="pb-2" style="width:100%;"><input style="width:90%;" type="text"    placeholder="Your Name"></div> 
                            <div class ="pb-2" style="width:100%"><input style="width:90%" type="text"    placeholder="Your Name"></div>
                            <div class ="" style="width:100%"><input style="width:90%" type="text"    placeholder="Your Name"></div>
                        </div>
                        <div class="col-md-6 pt-2" style="text-align:center;">
                            <div style="width:90%;;margin-left:auto;margin-right:auto;height:100%;display:flex;">
                                <label for="exampleFormControlTextarea1" class="form-label"></label>
                                <textarea style="width:100%;height:100%;" class="" placeholder="Ask us"  ></textarea>
                            </div>
                             
                       </div>
                          <div style=" text-align:center;" class="pt-2">
                             <button style="width:95%;" button-type="submit" class="btn btn-secondary pt-2">Submit</button> 
                          </div>
                        </div>
                           

                        </div>
                        
                    </div>

                </div>

        </div>
    </div>

</section> #}
<section id="ask">
    <div  style=" padding-top:70px;padding-bottom:70px;">
        <div class="container w-75 p-0">
            <div class="row brakrow">
                <div class="col-lg-6 ">
                    <div style=";height:100%;display:flex;justify-content:center;align-content:center;flex-direction:column">
                        <h2>We look to our differences to bring a richness of perspective.</h2>
                        <p style="color:white">Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations. All our projects incorporate a unique artistic image and functional solutions. Client is the soul of the project.</p>
                    </div>
                </div>
                <div id="Request" class="col-lg-6 pb-4 pt-3 " style="border-radius:5px;background-color: #323232; padding-left:20px;padding-right:20px;color:white;">
                    <h4>Request a quick quote</h4>
                    <p>Please tell us about your business. A HnK representative will walk you through our service options.</p>
                    [contact-form-7 id="144" title="Formularz 1"]
                        
                           

                        
                </div>

            </div>

        </div>
    </div>

</section>




    

       

   




{% endif %}


     