{% if is_preview %}
	<h2>Sekcja-3</h2>
	<InnerBlocks/>
{% else %}

   

<section id="about">
    <div  style="padding-bottom:50px;margin-top:-120px;">
        <div class="container w-75 p-0">
           <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 g-2 g-lg-3">
    <div class="col ">
      <div class="p-3 kafelek" style= " border-radius:5px;">
        <h3>
         We are<br/>Specialized
        </h3>
        <p class="pb-4" >Specialist rendering services is now one of the leading companies in its field in respect to quality and standards. Protecting exterior walls of your essential for longevity. </p>
        <a href="http://localhost/niecukrzymy/#gallery"><button type="button" class="btn btn-secondary" style="position:absolute; bottom:5%;" >Check gallery</button></a>
      </div>
    </div>
    <div class="col" >
      <div class=" kafelek" style= "border-radius:  5px;">
        <div class="kafelki">
            <img src="{{site.url}}/wp-content/themes/ad360/images/rsrender2.jpg" style="width:100%;border-radius:5px 5px 0 0;">
            <a class="link" style="cursor:default ;">
            <div style="height:100%; display:flex;align-items:center;justify-content:center;">
                EXTERNAL
            </div>
            </a> 
            </div>
            <p class="p-3">Experts in exterior wall rendering, both for houses and for larger projects.Like plastering, rendering is a job that requires some skill and plenty of practice.</p>
        </div>
    </div>
    <div class="col">
      <div class=" kafelek" style= "border-radius: 0 0 5px 5px;">
        <div class="kafelki">
                            <img src="{{site.url}}/wp-content/themes/ad360/images/rsrender3.jpg" style="width:100%;border-radius:5px 5px 0 0;">
                            <a class="link" style="cursor:default ;">
                            <div style="height:100%; display:flex;align-items:center;justify-content:center;">
                            BEAUTIFY
                            </div>
                            </a> 
                        </div>
                        <p class="p-3">

We evaluate what would be the best product to resolve your rendering issues or just the product that you want to beautify your home.</p>
      </div>
    </div>
    
    <div class="col " >
      <div class=" kafelek" style= "border-radius: 0 0 5px 5px;">
        <div class="kafelki">
                            <img src="{{site.url}}/wp-content/themes/ad360/images/rsrender1.jpg" style="width:100%;border-radius:5px 5px 0 0;">
                            <a class="link"  style="cursor:default ;">
                            <div style="height:100%; display:flex;align-items:center;justify-content:center;">
                                DECORATIVE
                            </div>
                            </a> 
        </div>
                        <p class="p-3">Looking for effective ways to reduce your energy bills? External solid wall insulation could be the solution you need.</p>
      </div>
    </div>
    
  </div>
        </div>
    </div>
</section>

			
{% endif %}
