{# {% extends "base.twig" %} #}
{% block footer %}
	<footer class="footer">
		<input type="hidden" class="template-url" value="{{ theme.link }}">
		<section>
    <div class="pt-3 pb-3" style="background-color:#161616; background-position: center;
    background-size: 100% auto;">
        <div class="container w-75 p-0">
            <div class="row brakrow">
                <div class="d-flex align-items-center justify-content-center" style="color:white; font-size:12px;">
                    © 2021  <h6 style="margin:0;margin-left:4px;margin-right:4px;">RENDERING SPECIALISTS</h6>  HOUSE RENDERING SERVICES • POWERED BY Przemyslaw Marszalek
                </div>
            </div>
        </div>
    </div>

</section>
	</footer>
{% endblock %}
